@media only screen and (min-width: 901px) {

    * {
        position: relative;
        width: 1354px;
        background: #F3F5FC;
    }
    
    .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        position: absolute;
        width: 120px;
        height: 48px;
        left: 40px;
        top: 40px;
        background-color: #F3F5FC;
    }
    
    .muñeco {
        position: absolute;
        width: 269px;
        height: 281px;
        left: 1022px;
        top: 59px;
        z-index: 1;
    }
    
    .Rectangle1{
        position: absolute;
        width: 340px;
        height: 648px;
        left: 986px;
        top: 16px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }
    
    
    #ingresartexto {
        position: absolute;
        width: 577px;
        height: 48px;
        left: 238px;
        top: 132px;
        font-family:'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        cursor: pointer;
        border: none;
        
    }
    
    ::placeholder {
        color:#0A3871;
    }
    
    #Icon {
        
        width: 16px;
        height: 16px;
    }
    
    #desencriptar:active,
    #Copiar:active {
        background-color: #87ceeb;
    }
    
    #ingresartexto:active {
        background-color: #87ceeb; 
    }
    
    .submit {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 680px;
        height: 67px;
        left: 238px;
        top: 571px;
    }
    
    #encriptar { 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 8px;
        width: 328px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
        }    
    
    #desencriptar, #Copiar {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px;
        gap: 8px;
        width: 328px;
        height: 67px;
        background: inherit;
        border: 1px solid #0A3871;
        border-radius: 24px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        flex: none;
        order: 1;
        flex-grow: 0;
        }
    
    p {
        position: absolute;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 300px;
        height: 18px;
        left: 262px;
        top: 511px;
        color: #495057;
        opacity: 0.8;
    }
    
    .resultado {
        position: absolute;
        width: 286px;
        height: 170px;
        left: 1010px;
        top: 371px;
        background: #FFFFFF;
     }
    
    h4 {
        position: absolute;
        width: 243px;
        height: 77px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 95px 30px ;
        background: inherit;
        text-align: center;
        color: #495057;
        }
    
    h5 {
        position: absolute;
        width: 286px;
        height: auto;
        background: inherit;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }
    
    #Copiar {
        margin: 0 0 0 50px;
        background: #FFFFFF;
        display: none;
    }
    
    a { 
        position: absolute;
        width: 680px;
        height: 288px;
        left: 240px;
        top: 168px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        color: #0A3871;
    }
    
    h6 {
        position: absolute;
        width: 312px;
        height: 489px;
        left: 1010px;
        top: 40px;
        margin: 1px 0 0 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        background: #FFFFFF;
        color: #495057;
    }
    
    footer{
        position: absolute;
        width: auto;
        height: auto;
        left: 238px;
        top: 680px;
    }

}



@media only screen and (max-width: 600px) {
    * {
        position: relative;
        width: auto;
        background: #F3F5FC;
    }
    #ingresartexto {
      
        width: 100%;
        height: 48px;;
        font-family:'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        cursor: pointer;
        border: none;
        margin-top: 15%;
        margin-bottom: 45%;
        
    }

    p {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        height: 18px;
        color: #495057;
        opacity: 0.8;
    }


#encriptar { 
    margin-bottom: 10px;
    width:100%;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    }   


#desencriptar, #Copiar {
    margin-bottom: 10px;    
    width: 100%;
    height: 67px;
    background: inherit;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
}  

#Copiar {
    display: none;
}


.Rectangle1, .muñeco {
        display: none;
    }


 .resultado {
        width: 80%;
        margin: auto;
        background: #FFFFFF;
        border-radius: 10px;
        
    }  

    #codificacion {
        background: inherit;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    #h4 {
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 95px 30px ;
        background: inherit;
        text-align: center;
        color: #495057;
        }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    * {
        position: relative;
        width: auto;
        background: #F3F5FC;
    }
    #ingresartexto {
      
        width: 100%;
        height: 48px;;
        font-family:'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 150%;
        cursor: pointer;
        border: none;
        margin-top: 15%;
        margin-bottom: 45%;
        
    }

    p {

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        width: 100%;
        height: 18px;
        color: #495057;
        opacity: 0.8;
    }



#encriptar { 
    margin-bottom: 10px;
    width:45%;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    }   


#desencriptar, #Copiar {
    margin-bottom: 10px;    
    width: 45%;
    height: 67px;
    background: inherit;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    
}  

#Copiar {
    display: none;
    margin: 0 auto;
}


.Rectangle1, .muñeco {
        display: none;
    }


 .resultado {
        width: 80%;
        margin: auto;
        background: #FFFFFF;
        border-radius: 10px;
        
    }  

    #codificacion {
        background: inherit;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    #h4 {
        
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin: 95px 30px ;
        background: inherit;
        text-align: center;
        color: #495057;
        }






}